{% extends 'base.html' %}

{% block title %}
<h1>Fancy Pet of the Refresh</h1>
{% endblock %}

{% block body %}

<div>
    {% if random['photo_url'] %}
    <img src="{{ random['photo_url'] }}" alt="" class="mb-3 img-fluid p-1 border">
    {% endif %}

    <h4>Hi! I'm {{ random['name'] }}</h4>
    <p>Age: {{ random['age'] }}</p>
</div>

<div class="row">
    <div class="col-lg-6">

        <h2>Available fancy pets</h2>

        {% if not available_pets %}
            <p>Check back later...</p>
        {% endif %}

        <ul class="list-unstyled">
            {% for pet in available_pets %}
            <li>
                {% if pet.photo_url %}
                <img src="{{pet.photo_url}}" alt="" class="mb-3 img-fluid p-1 border">
                {% endif %}
                <h4><a href="/{{pet.id}}">{{pet.name}}</a>{% if pet.available%} is available!{% endif %}</h4>
            </li>
            {% endfor %}
        </ul>

    </div>

    <div class="col-lg-6">

        <h2>Too fancy for you pets</h2>

        <ul class="list-unstyled">
            {% if not unavailable_pets %}
                <p>Check back later...</p>
            {% endif %}
            {% for pet in unavailable_pets %}
            <li>
                {% if pet.photo_url %}
                <img src="{{pet.photo_url}}" alt="" class="mb-3 img-fluid p-1 border">
                {% endif %}
                <h4><a href="/{{pet.id}}">{{pet.name}}</a>{% if pet.available%} is available!{% endif %}</h4>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>

<a href="/add" class="btn btn-primary">Add Pet</a>

{% endblock %}